@import url(https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800&display=swap);
$font-family-base: Muli !default;
$font-size-base: 0.8125rem;
@import './table.scss';
@import '~bootstrap/scss/bootstrap.scss';
@import url(https://use.fontawesome.com/releases/v5.6.3/css/all.css);

body {
    background-color: #f2f2f2;
}
.main{
    background-color: #fff;
    border-top:8px;
    border-top-color: #455B66;
    border-top-style: solid;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    margin-top:10px;
    padding-top:20px;
    padding-left:20px;
    padding-right:20px;
}
.page-title {
    margin-bottom: 20px;
}
.page-content{
    margin-bottom: 40px;
}
.metrics{
    margin-bottom: 40px;
}
.tile {
    width: 100%;
    height: 200px;
    border: solid 1px #ddd;
    display: block;
    border-radius: 2px;
    padding: 5px;
}
.tile-title {
    text-transform: uppercase;
    font-size: 14px;
    color: #4A4A4A;
    text-align: center;
    padding-top: 10px;
}
.tile-icon {
    background-color: rgba(1, 119, 189, 0.1);
    width:42px;
    height: 42px;
    border-radius: 100%;
    margin-bottom: 10px;
    line-height: 40px;
    color: #0177BD;
    font-size:18px;
}
.tile-content{
    padding-top: 20px;
    h4 {
        font-size: 45px;
        font-weight: 700;
        color:#4A4A4A;
    }
    .tile-amount{
        color: #0177BD;
        font-weight: 700;
    }
}
#root {
    font-family: Muli;
    
    table > thead.k-grid-header {
        border: 0px;
        font-family: Muli;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.3;
        letter-spacing: normal;
        color: #6b6b6b;
        tr  th.k-header{
            padding-top: 9px;
            padding-bottom: 9px;
            border: 0px;
            border-bottom: 1px solid #CFCFCF;
        }
        a {
            min-height: 32px;
        }
    }
    table {
        td {
            border: 0px;
        }
        tbody{
            
        border-top: 2px solid black;
            font-family: Muli;
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: normal;
        }

        span.k-icon.k-i-sort-asc-sm {
            line-height: 0px;

        }
        span.k-icon.k-i-sort-desc-sm {
            line-height: 40px;

        }
        // arrow up
        .k-i-sort-asc-sm::before {
            content: "";
            width: 0;
            height: 0;
            line-height: 0px;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-bottom: 6px solid #959595;

        }
        //arrow down
        .k-i-sort-desc-sm::before  {
            content: "";
            width: 0;
            height: 0;
            line-height: 15px;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 6px solid #959595;
        }

        span.k-icon.k-i-sort-desc-sm {
            color:black;

        }

        span.k-icon.k-i-sort-asc-sm {
            color:black;
        }
    }
    div.k-header.k-grid-toolbar {
        background-color: white;
        border-top: solid 1px #cfcfcf;

        button {
                background-image: none; 
                background-color: white;
                border: none;

        }
    }
    div.k-grid-header{ 
        opacity: 0.9;
        background-color: #f6f6f6;
    }
    div.k-pager-wrap.k-grid-pager.k-widget{
        background-image: none; 
        background-color: white;
        border: none;
        border-top: solid 2px #cfcfcf;
    }


    .column-select-item {
        padding: 22px;
    }
    // .column-select-item {
    //     .k-checkbox:checked+.k-checkbox-label::after {
    //         color: #0177bd;
    //     }
        
    //     .k-checkbox-label::before {
    //         background-color: white;
    //         border-color: #858585;
    //     }
        
    // }

}
.k-checkbox:checked+.k-checkbox-label::after {
    color: #0177bd !important;
}

.k-checkbox-label::before {
    background-color: white !important;
    border-color: #858585 !important;
}